body{
    background-color: rgb(7, 15, 15);
    color: white;
}

.align
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form{
    background-color: rgb(55, 66, 85);
    border-radius: 15px;
    padding: 20px 80px;
}

data{
    background-color: blue;
}

a{
    color: rgb(140, 255, 217);
    text-decoration: none;
}
